.blue-line {
  height: 100px;
  background-color: lightblue;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  height: 400px;
  width: 300px;
  background-color: grey;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.card-container {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.img {
  height: 100px;
  width:100%;
  background: #febe8c;
}
.white-text{
   color: white;
}